.dogoCard {
    border-radius: 5px;
    overflow: hidden;
    margin: 8px;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: rgb(100, 107, 110);
    color: white;
  }

  .dogoCardContainer {
    max-width: 1066px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  
  .dogoCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: rgb(73, 79, 82);
    transform: scale(1.05);
    transition: 0.5s;
  }

  .dogoCardText {
    padding: 4px;
    padding-top: 12px;
    vertical-align: bottom;
  }

  .dogoImage {
    height: 250px;
    width: 250px;
    object-fit: scale-down;
    background-repeat: no-repeat;
    background-size: 250px;
  }

  .dogoDeleteButton {
    display: inline-block;
    color: red;
    position: relative;
    transform: scale(2);
    background-color: white;
    top: -235px;
    left: 100px;
    opacity: 0.4;
    cursor: pointer;
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  }

  .dogoEditButton {
    display: inline-block;
    color: black;
    position: relative;
    transform: scale(2);
    background-color: white;
    top: -235px;
    left: 80px;
    opacity: 0.4;
    cursor: pointer;
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  }

  .dogoDeleteButton:hover, .dogoEditButton:hover {
    opacity: 0.7;
  }

  .dogoAddButton {
    display: inline-block;
    color: white;
    position: relative;
    transform: scale(2);
    
    top: -240px;
    cursor: pointer;
  }
