.dogCardContainer {
  max-width: 1066px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 70px;
}


.deleteDogsButton {  
  background-color: red;
  color: white;
  padding: 14px 20px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
  width: 50;
  position: absolute;
  right: 180px;
}


.deleteAllDogsButton {  
  background-color: red;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 50;
  position: absolute;
  right: 80px;
}

.deleteDogsButton:hover {
  opacity: 0.8;
}