.header-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73, 79, 82);
  color: white;
}

.header-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: white;
}

.header-links:hover{
  color: white;
}

.pauseUploadButton {
  color: white;
  cursor: pointer;
}

.cancelUploadButton {
  color: red;
  cursor: pointer;
}

.progressbar {
  -webkit-appearance: none;
  appearance: none;
  flex-basis: 95%;
}

.progressbar2 {
  -webkit-appearance: none;
  appearance: none;
  flex-basis: 95%;
}

.progressbar-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background: rgb(73, 79, 82);
}

.progressbar::-webkit-progress-bar{
  background-color: rgb(73, 79, 82);
}

.progressbar2::-webkit-progress-bar{
  background-color: rgb(73, 79, 82);
}

.progressbar::-webkit-progress-value{
  transition: width 0.5s; 
  background-color: green;
}

.progressbar2::-webkit-progress-value{ 
  background-color: rgb(73, 79, 82);
}