.header-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73, 79, 82);
  color: white;
}

.header-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: white;
}

.header-links:hover{
  color: white;
}

.pauseUploadButton {
  color: white;
  cursor: pointer;
  padding: 5px;
  transform: scale(1.3);
}

.cancelUploadButton {
  color: red;
  cursor: pointer;
  padding: 5px;
  transform: scale(1.3);
}

.progressbar-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background: rgb(73, 79, 82);
}

.progressbar {
  -webkit-appearance: none;
  appearance: none;
  flex-basis: 95%;
  margin-top: 7px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.progressbar2 {
  -webkit-appearance: none;
  appearance: none;
  flex-basis: 95%;
  margin-top: 7px;
  border-radius: 20px;
}

.progressbar::-webkit-progress-bar{
  background-color: rgb(73, 79, 82);
  border-radius: 20px;
}

.progressbar2::-webkit-progress-bar{
  background-color: rgb(73, 79, 82);
  border-radius: 20px;
}

.progressbar::-webkit-progress-value{
  transition: width 0.5s; 
  background-color: green;
  border-color: white;
  border-radius: 20px;
}

.progressbar2::-webkit-progress-value{ 
  background-color: rgb(73, 79, 82);
  border-color: white;
  border-radius: 20px;
}