/* Float cancel and delete buttons and add an equal width */
.modalCancelbtn:hover, .modalDeletebtn:hover {
  opacity:1;
}

.inputLabel {
  text-align: right;
  clear: both;
  float:left;
  margin-right:15px;
}

.dogInput {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  float: left;
}


/* Add a color to the delete button */
.modalConfirmButton {
  float: right;
  background-color: #4CAF50;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100px;
  opacity: 0.9;
  background-color: #36f436;
}

/* Add a color to the cancel button */
.modalCancelButton {
  float: right;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100px;
  opacity: 0.9;
  background-color: #ccc;
  color: black;
}


/* Add padding and center-align text to the container */
.modalContainer {
  padding: 16px;
  text-align: center;
}

.modalConfirm {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(71, 78, 93, 0.9);
  padding-top: 50px;
}

/* Modal Content/Box */
.modalContent {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
}

.modalClose {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.modalClose:hover, .modalClose:focus {
  color: #f44336;
  cursor: pointer;
}


/* Clear floats */
.modalClearfix::after {
  content: '';
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 900px) {
  .modalCancelButton, .modalConfirmButton {
     width: 100%;
  }

  .modalContent {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 300px; /* Could be more or less, depending on screen size */
  }
}


